<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- 指示 IIS 將所有請求傳遞到 Node.js 應用程式 -->
    <handlers>
      <!-- 指示 IIS 將所有對 app.js 的請求傳遞到 iisnode -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <!-- URL 重寫規則 -->
    <rewrite>
      <rules>
        <!-- 不重寫映像檔案的請求 -->
        <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^[a-zA-Z0-9_\-. ]*\.log$"/>
        </rule>
        
        <!-- 不重寫偵錯工具的請求 -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?"/>
        </rule>
        
        <!-- 將所有其他請求重新導向到 server.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- 確保 Node.js 錯誤被顯示 -->
    <iisnode 
      node_env="%node_env%" 
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" />
    
    <!-- WebSocket 支援 -->
    <webSocket enabled="true" />
    
    <!-- 靜態檔案 -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration> 